---
import LinkedInButton from './LinkedInButton.astro'
import GithubButton from './GithubButton.astro'
import NavbarItem from './NavbarItem.astro'
import { navbarItems } from '../data'
---

<div class='flex flex-shrink justify-between items-center md:w-full py-2 px-8 mx-auto bg-gray-400 rounded-full select-none'>
  <div class='flex gap-5 md:gap-8 items-center md:[&>a:hover>span]:text-cyan-400 [&>a>span]:transition-colors'>
    {
      navbarItems.map(({ href, img, name }) => (
        <NavbarItem href={ href } img={ img } name={ name } />
      ))
    }
  </div>
  <div class='flex gap-5 md:gap-8 items-center'>
    <LinkedInButton />
    <GithubButton href='https:///www.github.com/BreinerJT' />
  </div>
</div>